html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
    font-family: 'Mew Serif SC', 'Times', 'Times New Roman', 'SimSun', serif;
    font-size: 14px;
    line-height: 1.6;
}

a,
.clickable {
    position: relative;
    color: #666;
    text-decoration: none;
    transition: color;
    cursor: pointer;
}

a:hover,
.clickable:hover {
    color: #444;
}

a:after,
.clickable:after {
    content: '';
    pointer-events: none;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    left: -20px;
    right: -20px;
    height: 3px;
    bottom: -3px;
    transform: scaleY(0.2);
    transition: background-color 0.2s, left 0.2s, right 0.2s, transform 0.2s;
}

a:hover:after,
.clickable:hover:after {
    left: -4px;
    right: -4px;
    transform: none;
    background-color: rgba(33, 130, 122, 0.32);
}

ul li {
    margin-top: 3px;
    margin-bottom: 3px;
    list-style: none;
    position: relative;
    line-height: 28px;
}

ul li:before {
    content: '';
    position: absolute;
    left: -16px;
    width: 6px;
    height: 6px;
    top: 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

ul, ol {
    padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mew Sans SC', 'PingFang SC', 'Microsoft Yahei', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-size: 26px;
    color: #ffad1f;
    margin-bottom: 1em;
}

h2 {
    font-size: 18px;
    color: #fbc974;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h3 {
    font-size: 14px;
    color: #fbc974;
    margin-top: 1em;
    margin-bottom: 1em;
}

code {
    font-size: 90%;
    font-family: 'Mew Source SC', 'Menlo', 'Consolas', monospace;
    padding: 2px 4px;
    margin: -2px -1px;
    border-radius: 3px;
    transition: background-color 0.2s;
    background-color: rgba(0, 0, 0, 0.05);
}

code:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table {
    width: 80%;
    margin: 10px auto;
    border: solid 1px #eee;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}

table th {
    font-family: 'Mew Serif SC', 'Times', 'Times New Roman', 'SimSun', serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.05);
    color: #888;
}

table tr {
    border-bottom: solid 1px #eee;
}

table tr:hover td {
    background-color: rgba(0, 0, 0, 0.02);
}

table td {
    border-right: solid 1px #eee;
}

table th,
table td {
    padding: 4px 8px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #ff5e00;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    overflow: visible !important;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    min-width: 14px;
    margin-left: -4px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}
